#############################################################
# Anderson Lab Modules
#############################################################

module -name "AL_SurfGen" \
	-language "tcl" \
	-package "hxscriptobj" \
	-primary "HxUniformScalarField3" \
	-category "AndersonLab" \
	-proc {
		set this [[create HxScriptObject] setLabel "AL_SurfGen"]
		$this script setValue $AMIRA_LOCAL/share/script-objects/AL_SurfGen.scro
		$this script hide
		$this fire
		}				
	
module -name "AL_CreateDRR" \
	-language "tcl" \
	-package "hxscriptobj" \
	-primary "HxSurface"\
	-category "AndersonLab" \
	-proc {
		set this [[create HxScriptObject] setLabel "AL_CreateDRR"]
		$this script setValue $AMIRA_LOCAL/share/script-objects/AL_CreateDRR.scro
		$this script hide
		$this fire
		}	
			
module -name "AL_SurfAlign" \
	-language "tcl" \
	-package "hxscriptobj" \
	-primary "HxSurface"\
	-category "AndersonLab" \
	-proc {
		set this [[create HxScriptObject] setLabel "AL_SurfAlign"]
		$this script setValue $AMIRA_LOCAL/share/script-objects/AL_SurfAlign.scro
		$this script hide
		$this fire
		}	
	-primary "HxSurface" \
